<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<%posts.forEach((post)=>{%>
    <h1><%=post.shrisak%></h1>
    <p class="spanThis"><%=post.sarir.slice(0,100).concat(" ...")%></p>
    <a class="spanThis" href="/posts/<%=post.shrisak%>">Read More</a>
<%})%>
<%- include("partials/footer") -%>
