<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<%posts.forEach((post)=>{%>
    <h1><%=post.shrisak%></h1>
    <p><%=post.sarir%></p>
<%})%>
<%- include("partials/footer") -%>
